<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!--Clases a mapear-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/diseniogtfinal?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">disenio</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        <property name="show_sql">true</property>
        <property name="format_sql">true</property
        >-->
        
        <!--Clases a mapear-->
        <mapping resource="consultor.hbm.xml"/>
        <mapping resource="agenda.hbm.xml"/>
        <mapping resource="cliente.hbm.xml"/>
        <mapping resource="documentacion.hbm.xml"/>
        <mapping resource="categoriaTramite.hbm.xml"/>
        <mapping resource="estadoTramite.hbm.xml"/>
        <mapping resource="tipoTramite.hbm.xml"/>
        <mapping resource="listaPrecio.hbm.xml"/>
        <mapping resource="detallePrecioTipoTramite.hbm.xml"/>
        <mapping resource="version.hbm.xml"/>
        <mapping resource="transicionEstado.hbm.xml"/>
        <mapping resource="tramite.hbm.xml"/>
        <mapping resource="tramiteDocumentacion.hbm.xml"/>
        <mapping resource="tramiteEstado.hbm.xml"/>
        <mapping resource="usuario.hbm.xml"/>
        <mapping resource="cambiarContrasenia.hbm.xml"/>
        
        
    </session-factory>
</hibernate-configuration>
